
.features {
    padding: 125px 0 $section-padding;
    background-color: $ghost-white-2;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;

        @include large-tablet {
            grid-template-columns: 1fr 1fr;
        }

        @include tablet {
            grid-template-columns: 1fr;
        }

        .cards {
            width: 100%;
        }

        .img {
            width: 70%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-width: 100%;
            }
        }
    }
}