
.features {
    padding: 125px 0 $section-padding;
    background-color: $ghost-white-2;

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
        width: 90%;
        margin: 0 auto;

        @include large-tablet {
            grid-template-columns: 1fr 1fr;
        }

        @include tablet {
            grid-template-columns: 1fr;
        }

        .cards {
            position: relative;
            padding-left: 15px;
            padding-bottom: 20px;
            max-width: 440px;
            box-shadow: 6px 8px 16px -5px rgba(0,0,0,0.45);
            -webkit-box-shadow: 6px 8px 16px -5px rgba(0,0,0,0.45);
            -moz-box-shadow: 6px 8px 16px -5px rgba(0,0,0,0.45);
            transition: $transition;
            cursor: pointer;

            &:hover {
                transform: scale(1.0325);
            }
        }

        .img {
            width: 70%;
            margin: 0 auto;
            margin-bottom: 1.5rem;
            margin-top: 1.5rem;

            img {
                max-width: 80%;
            }
        }
    }
}