
.hero {
    padding: 125px 0 $section-padding;
    background-color: $ghost-white-1;
    width: 100%;
    

    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
        width: 90%;
        margin: 0 auto;

        @include large-tablet {
            display: flex;
            flex-direction: column;
        }
        

        .hero__content {
            margin-bottom: 80px;
            width: 100%;

            .hero__title {
                margin-bottom: 25px;
                color: $majorelle-blue;
                font-size: $fs-1;
                font-weight: $fw-700;

            @include large {
                font-size: $fs-2;
            }

            

            }

            .hero__text {
                color: $cool-gray;
                font-size: $fs-5;
                font-weight: $fw-500;
                line-height: 1.8;
                margin-bottom: 40px;

                @include large {
                    font-size: $fs-6;
                    margin-bottom: 25px;
                }
            }

            .form__text {
                color: $independence;
                font-weight: $fw-500;
                line-height: 1.8;
                margin-bottom: 20px;

                @include large {
                    line-height: 1.6;
                    font-size: $fs-3;
                }
            }


            .email__field {
                background-color: $ghost-white-2;
                padding: 17px 20px;
                border-radius: 8px;
                margin-bottom: 40px;

                @include large {
                    padding: 15px 18px;
                    margin-bottom: 30px;
                }

                @include mobile {
                    padding: 13px 16px;
                }
            }


        }

        .image {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .hero__banner {
                width: 70%;

            img {
                max-width: 100%;
            }
        }
        }
    }
}