@import 'variables';
@import 'mixins';
@import 'header';
@import 'hero';
@import 'features';
@import 'blog';
@import 'footer';

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a, img, span, input, label, button, ion-icon, textarea {
    display: block;
}

button {
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
}

input, textarea {
    font: inherit;
    width: 100%;
    border: none;
}

.container {
    padding-inline: 15px;
}

.h1, .h2, .h3 {
    color: $independence;
    font-family: $ff-mulish;
    line-height: 1.2z;
}

.h1 {font-size: $fs-1;}

.h2 {font-size: $fs-2;}

.h3 {font-size: $fs-3;}


html {
    font-family: $ff-quicksand;
    scroll-behavior: smooth;
}

body {
    background-color: $white;
}

.btn-primary {
    padding: 10px 20px;
    background-color: $sapphire;
    color: $white;
    font-size: $fs-3;
    font-weight: $fw-600;
    border-radius: 20px 0 20px 0;
    transition: $transition;

    @include large-tablet {
        padding: 8px 16px;
    }

    @include mobile {
        font-size: $fs-4;
    }

    &:hover {
        background-color: $majorelle-blue;
        color: $raisin-black-1;
    }
}

.main-title {
    text-align: center;
    margin-bottom: 100px;
    font-size: 70px;
    color: $white;
    font-weight: 800;
    background-color: $sapphire;
    width: fit-content;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 30px;
    border-radius: 20px 0 20px 0;
    transition: $transition;
    cursor: pointer;

    &:hover {
        color: $sapphire;
        background-color: #F2F3F4;
        box-shadow: -6px 5px 46px 7px rgba(0,86,179,0.76);
        -webkit-box-shadow: -6px 5px 46px 7px rgba(0,86,179,0.76);
        -moz-box-shadow: -6px 5px 46px 7px rgba(0,86,179,0.76);
    }
}