@import 'variables';
@import 'header';
@import 'hero';

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a, img, span, input, label, button, ion-icon, textarea {
    display: block;
}

button {
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
}

input, textarea {
    font: inherit;
    width: 100%;
    border: none;
}

.container {
    padding-inline: 15px;
}

.h1, .h2, .h3 {
    color: $independence;
    font-family: $ff-mulish;
    line-height: 1.2z;
}

.h1 {font-size: $fs-1;}

.h2 {font-size: $fs-2;}

.h3 {font-size: $fs-3;}


html {
    font-family: $ff-quicksand;
    scroll-behavior: smooth;
}

body {
    background-color: $white;
}

.btn-primary {
    padding: 10px 20px;
    background-color: $sapphire;
    color: $white;
    font-size: $fs-3;
    font-weight: $fw-600;
    border-radius: 20px 0 20px 0;
    transition: $transition;

    &:hover {
        background-color: $majorelle-blue;
        color: $raisin-black-1;
    }
}